<!doctype html>
<html lang="en" ng-app="Angvent">
<head>
    <meta charset="utf-8">
    <title>Filter Sample </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>
<div class="container">
    
    	<div class="navbar">
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/EventDetails.html">Events</a></li>
                    <li><a href="/CookieSample.html">Cookie Example</a></li>
                    <li><a href="/FilterSample.html">Filter Example</a></li>
                    <li><a href="/NewEvent.html">Create Event</a></li>
                    <li><a href="/CacheSample.html">Caching Example</a></li>
                    <li><a href="/CompileSample.html">Compile Example</a></li>
                    <li><a href="/LocaleSample.html">Locale Example</a></li>
                    <li><a href="/TimeoutSample.html">Timeout Example</a></li>
                </ul>
            </div>              
        </div>				
		</div>

    <div ng-controller="TimeoutSampleController" style="padding:20px;">

        <button class="btn" ng-click="cancel()">Cancel</button>
        <h3>Name: {{name}}</h3>

        <input type="text" ng-model="foo"/>


    </div>
</div>

<script src="/lib/jquery.min.js"></script>
<script src="/lib/angular/angular.js"></script>
<script src="/lib/angular/angular-resource.js"></script>
<script src="/lib/angular/angular-cookies.js"></script>
<!-- <script src="/lib/angular/angular-locale_es.js"></script> -->
<script src="/js/app.js"></script>
<script src="/js/controllers/TimeoutSampleController.js"></script>
<script src="/lib/bootstrap.min.js"></script>
<script src="/lib/bootstrap.min.js"></script>

</body>
</html>